body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
.presentacion {
    background-color: aqua;
    width: 500px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width: 600px;
    border-radius: 20px;
    border: 2px solid black;
}